.flex-direct-col{
    display: flex;
    flex-direction: column;
}
.flex-direct-row{
    display: flex;
    flex-direction: row;
}
.login-container{
    width: 24%;
    left: 38%;
    top : 18%;
    position: absolute;
    height: 54%;
    border: 2px dotted red;
    border-radius: 5%;
    padding: 1%;
    background: rgb(255, 230, 234);
    font-family: 'Courier New', Courier, monospace;
}
.login-title{
    text-align: center;
    font-size: 25px;
    font-family: 'Courier New', Courier, monospace;
    font-weight: 600;
}
.login-text{
    font-size: 17px;
    font-weight: 500;
    text-align: center;
    color: #c17474;
}
.login-input-container{
    padding: 10%;
    padding-bottom: 0;
    display: flex;
    flex-direction: column;
}
.login-input{
    /* width: 50%; */
    /* margin-left:25%; */
    text-decoration: none;
    background: rgb(204, 198, 198);
    outline: none;
    border : none;
    font-size: 15px;
    border-radius: 40px;
    border: 1px solid #c17474;
    /* justify-content: center; */
    text-align: center;
    height: 25px;
    color: #bb5555;
    font-family: 'Courier New', Courier, monospace;
}
.login-link{
    justify-content: center;
    padding: 5%;
}
.login-button{
    border: 1px solid red;
    background: #ce6767;
    border-radius: 15px;
    /* width:  */
    height: 30px;
    font-size: 16px;
    cursor: pointer;
    font-family: 'Courier New', Courier, monospace;
    color: white;
}