.ChatBubble {
  display: flex;
  width: 100%;
  max-width: 100%;
  justify-content: flex-start;
  padding: 0.8rem;
  &.left {
    justify-content: flex-start;
  }
  &.right {
    justify-content: flex-end;
  }
  &__avatar{
    flex: 0;
    min-height: 3rem;
    min-width: 3rem;
    max-height: 3rem;
    max-width: 3rem;
    border-radius: 1.5rem;
    margin-right: 0.6rem;
    display: flex;
    justify-content: center;
    align-items: center;
    i{
      font-size: 3rem;
      color: gray;
    }
  }
  &__box {
    display: flex;
    justify-content: center;
    align-items: center;
    max-width: 65%;
    border-radius: 1.5rem;
    min-height: 3rem;
    padding: 0.5rem 1rem;
    color: white;
    font-size: 1rem;
    &.left {
      background: dodgerblue;
    }
    &.right {
      background: Crimson;
    }
  }
}
