@import '../colors.scss';
.chat-square {
  display: flex;
  flex-direction: column;
  height: 100%;
  &__header {
    display: flex;
    box-sizing: border-box;
    width: 100%;
    // height: 2.4rem;
    padding: 0 2rem;
    min-height: 50px;
    justify-content: center;
    align-items: center;
    border-bottom: 1px solid lightgrey;
    &__title {
      display: flex;
      justify-content: center;
      align-items: center;
      box-sizing: border-box;
      color: red;
      font-size: 1rem;
      font-weight: 400;
      width: 100%;
    }
    &__button {
      justify-self: flex-end;
      box-sizing: border-box;
      height: 2rem;
      width: 2rem;
      min-height: 2rem;
      min-width: 2rem;
      border-radius: 50%;
      margin: 0 0.2rem;
      border: 1px solid gray;
      display: flex;
      justify-content: center;
      align-items: center;
      & > i {
        margin: auto;
        color: deepskyblue;
      }
    }
  }
  &__body {
    display: flex;
    height: 100%;
    &__chat-box {
      display: flex;
      flex-direction: column;
      height: 100%;
      min-width: 65%;
      max-width: 65%;
      border-right: 1px solid lightgrey;
      &__bubble-list {
        flex-grow: 1;
        box-sizing: border-box;
        padding: 0 0.7em;
        border-bottom: 1px solid lightgrey;
        overflow-y: scroll;
        &::-webkit-scrollbar {
          width: 10px;
          background-color: $scrollbar-back;
        }
        &::-webkit-scrollbar-thumb {
          background-color: $scrollbar-thumb;
        }
        &::-webkit-scrollbar-thumb:hover {
          background-color: $scrollbar-thumb-hover;
        }
      }
      &__chat-input-box {
        flex: 0;
        justify-self: flex-end;
        display: flex;
        align-items: center;
        justify-content: center;
        width: 100%;
        height: 3.5rem;
        min-height: 3.5rem;
        max-height: 3.5rem;
        font-size: 1rem;
        &__input {
          width: 100%;
          height: 1.8rem;
          font-size: 1rem;
          color: rgb(146, 3, 27);
          padding: 0.2rem 0.7rem;
          border: 1px solid grey;
          border-radius: 0.75rem;
          margin-left: 0.5rem;
          margin-right: 0.2rem;
          outline: none;
        }
        &__button {
          justify-self: flex-end;
          height: 1.8rem;
          width: 1.8rem;
          min-height: 1.8rem;
          min-width: 1.8rem;
          margin-left: 0.2rem;
          margin-right: 0.5rem;
          border-radius: 50%;
          & img {
            width: 100%;
            height: 100%;
          }
        }
      }
    }
    &__infomation {
      display: flex;
      flex-direction: column;
      height: 100%;
      width: 35%;
      min-width: 200px;
    }
  }
}
