$friend-message-box-min-height: 100px;
$avatar-size: $friend-message-box-min-height * 0.8;
.friend-message-box {
  display: flex;
  width: 100%;
  box-sizing: border-box;
  margin-bottom: 1rem;
  justify-content: flex-start;
  align-items: center;
  min-height: $friend-message-box-min-height;
  border: 1px solid lightgrey;
  border-radius: 1rem;
  padding: 0.6rem;
  background: black;
  &:last-child{
    margin-bottom: 0;
  }
  &:hover {
      background-color: rgba(231, 156, 156, 0.363);
  }
  &.selected{
    background: rgba(245, 206, 215, 0.212);
    border: 3px dashed lightcoral;
    &:hover {
      background-color: rgba(231, 156, 156, 0.363);
    }
  }
  &__avatar {
    display: block;
    border-radius: 50%;
    min-width: 50px;
    width: 3rem;
    min-height: 50px;
    height: 3rem;
    border: 1px solid lightpink;
    box-shadow: 0 0 0 lightpink;
  }
  &__info {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 100%;
    padding-left: 0.6rem;
    justify-content: flex-start;
    align-items: flex-start;
    cursor: default;
    &__name {
      flex: 2;
      color: black;
      font-size: 1rem;
      font-weight: 450;
      font-style: italic;
      color: black;
    }
    &__lastMessage {
      flex: 3;
      font-style: italic;
      font-size: 0.8rem;
      color: gray;
    }
    &__lastTime {
      flex: 1;
      align-self: flex-end;
      font-size: 10px;
      justify-self: flex-end;
      color: gray;
    }
    & abbr{
      text-decoration: none;
    }
  }
}
