.display-none{
    display: none;
}
.message-container{
    position: absolute;
    display: flex;
    height: 100%;
    width: 100%;
    box-sizing: border-box;

}
.friend-massage-container{
    min-width: 200px;
    flex: 0 0 25%;
    flex-direction: column;
    border-right: 1px solid lightcoral;
    background: linear-gradient(to right, rgb(255, 241, 244), rgb(255, 209, 217));
    &__header {
        display: flex;
        box-sizing: border-box;
        width: 100%;
        // height: 2.4rem;
        padding: 0 2rem;
        min-height: 50px;
        justify-content: center;
        align-items: center;
        border-bottom: 1px solid lightgrey;
        &__title {
          display: flex;
          justify-content: center;
          align-items: center;
          box-sizing: border-box;
          color: red;
          font-size: 1rem;
          font-weight: 400;
          width: 100%;
        }
        &__button {
          justify-self: flex-end;
          box-sizing: border-box;
          height: 2rem;
          width: 2rem;
          min-height: 2rem;
          min-width: 2rem;
          border-radius: 50%;
          margin: 0 0.2rem;
          border: 1px solid gray;
          display: flex;
          justify-content: center;
          align-items: center;
          & > i {
            margin: auto;
            color: deepskyblue;
          }
        }
    }
    &__friend-list{
        box-sizing: border-box;
        display: flex;
        width: 100%;
        padding: 0.5rem;
    }
}
.chat-square-container{
    flex: 3;
    box-sizing: border-box;
}

