.header-row{
    display: flex;
    flex-direction: row;
    background: white;
    width: 100%;
    border-bottom: 1px solid red;
    
    color: rgb(209, 128, 128);
    // padding: 10px;
    font-size: 22px;
    font-weight: 500;
}
.header-start{
    display: flex;
    flex-direction: row;
    width: 50%;
    align-items: baseline;
}
.header-end{
    display: flex;
    flex-direction: row;
    width: 50%;
    justify-content: flex-end;
    // align-items: baseline;
    padding: 12px 15px;
}
.header-info{
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    width: 50%;
    padding: 12px 15px;
    position: relative;
}
// .header-col{
//     display: flex;
//     flex-direction: column;
//     // color: red;
   
//     // font-style: italic;
// }

.header-brand{
    padding: 15px 110px;
    
    font-size: 25px;
    font-weight: 600;
    font-style: italic;
    color: red;
}
.header-button{
    border: none;
    float: right;
    width: 100px;
    // height: 36px;
    // margin-left: 15px;
    display: flex;
    justify-content: flex-end;
    font-size: 22px;
    font-weight: 500;
    justify-content: center;
    color: rgb(209, 128, 128);
    background: white;
    border-radius: 5px;
    transition: 0.4s;
    // border: 1px solid rgb(209, 128, 128);
}
.header-button:hover{
    color: white;
    background: rgb(209, 128, 128);
    // border: none;
    // border: 2px solid white;
}
.display-none{
    display: none;
}
.friend-message-avatar{
    border-radius: 90%;
    width: 50px;
    height: 50px;
    border: 1px solid red;
}