@import '../../dimension.scss';
$avatar-size: 50px;
.header-row {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  background: black;
  width: 100%;
  height: $header-height;
  border-bottom: 1px solid red;
  color: rgb(209, 128, 128);
  font-size: 22px;
  font-weight: 500;
  & > .header-start {
    display: flex;
    min-width: 200px;
    justify-content: center;
    align-items: center;
  }
  & > .header-end {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    // align-items: baseline;
    padding: 12px 15px;
  }
}
.header-brand {
  font-size: 25px;
  font-weight: 600;
  color: white;
    &>span{
      padding: 0 0.3rem;
      margin: 0 0.2rem;
      color: black;
      font-weight: 600;
      background: orange;
      border-radius: 0.3rem;
    }
}
.header-info {
  display: flex;
  position: relative;
  flex-direction: row;
  justify-content: flex-end;
  padding: 0.6rem;
}
.header-setting-button{
  display: block;
  box-sizing: border-box;
  width: $avatar-size;
  height: $avatar-size;
  cursor: pointer;
}
.friend-message-avatar {
  box-sizing: border-box;
  border-radius: 50%;
  width: $avatar-size;
  height: $avatar-size;
  border: 1px solid red;
}
.header-setting-menu {
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  position: absolute;
  z-index: 3;
  top: 100%;
  right: 0;
  padding: 0.2rem 0.7rem;
  padding-bottom: 0.7rem;
  border-radius: 1rem;
  background: white;
  border: 3px dashed lightcoral;
  min-width: 15%;
  width: 150px;
  &.disable{
    visibility: hidden
  }
  & > .setting-button {
    display: block;
    height: min-content;
    padding: 0.2rem 0.4rem;
    margin: 0.1rem 0;
    font-size: 1.2rem;
    border-bottom: 1px solid lightgrey;
    border-radius: 30px;
    cursor: pointer;
    &:hover {
      background: gray;
      color: pink;
      
    }
  }
}
.header-button {
  border: none;
  float: right;
  width: 100px;
  // height: 36px;
  margin-left: 15px;
  display: flex;
  justify-content: flex-end;
  font-size: 22px;
  font-weight: 500;
  justify-content: center;
  color: rgb(209, 128, 128);
  background: white;
  border-radius: 5px;
  transition: 0.4s;
  cursor: pointer;
  border: 1px solid red;
  // border: 1px solid rgb(209, 128, 128);
}
.header-button:hover {
  color: white;
  background: rgb(209, 128, 128);
  // border: none;
  // border: 2px solid white;
}
.display-none {
  display: none;
}

