@import "../../dimension.scss";
.body-main {
  width: 100%;
  height: calc(100% - 70px);
  color: rgb(209, 128, 128);
  font-size: 30px;
  display: flex;
  position: relative;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  background: linear-gradient(to bottom, rgb(250, 194, 194), rgb(247, 218, 218));
  &_title-box {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
}
.body-title {
  color: Crimson;
  font-weight: 600;
  font-size: 60px;
}
.body-text {
  color: hotpink;
  margin-top: 2rem;
  animation-name: zoom;
  animation-duration: 1.2s;
  animation-iteration-count: infinite;
}
@keyframes zoom {
  0% {
    transform: scale(1, 1);
  }
  50% {
    transform: scale(2, 2);
  }
  100% {
    transform: scale(1, 1);
  }
}
.body-button {
  display: flex;
  border: none;
  width: 100px;
  height: 100px;
  font-size: 60px;
  font-weight: 500;
  justify-content: center;
  align-items: center;
  color: white;
  background: red;
  transition: 0.5s;
  border-radius: 50%;
  outline: none;
  &:hover {
    width: 200px;
    height: 200px;
    font-size: 120px;
    animation: 1.5s heart-shake infinite;
  }
}
@keyframes heart-shake {
  0% {
    transform: rotate(0deg);
  }
  25% {
    transform: rotate(-20deg);
  }
  50% {
    transform: rotate(20deg);
  }
  75% {
    transform: rotate(-20deg);
  }
  100% {
    transform: rotate(0deg);
  }
}
.chat-button-box {
  display: flex;
  border: none;
  position: absolute;
  margin-right: 20px;
  margin-bottom: 40px;
  min-width: 100px;
  bottom: 0;
  right: 0;
  &__bubble {
    display: flex;
    position: relative;
    background: dodgerblue;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    font-size: 2.3rem;
    width: 100px;
    height: 100px;
    color: white;
    transition: 0.5s;
    &:after {
      content: "";
      position: absolute;
      z-index: 1;
      bottom: 1%;
      left: 50%;
      width: 0;
      height: 0;
      background: transparent;
      border: 0.594em solid #f7d9d9;
      border-top-color: dodgerblue;
      border-bottom: 0;
      border-right: 0;
      margin-left: -0.297em;
      margin-bottom: -0.594em;
      animation: 0.5s blackout ease;
    }
    &:hover {
      transform: scale(1.4, 1.4) translate(-20px, -20px) rotate(15deg);
      animation: 1s blackout infinite;
      &:after {
        background: transparent;
        animation: 1s blackout-after infinite;
      }
    }
  }
}
@keyframes blackout {
  0% {
    background: dodgerblue;
    color: white;
  }
  50% {
    background: orange;
    color: black;
  }
  100% {
    background: dodgerblue;
    color: white;
  }
}
@keyframes blackout-after {
  0% {
    border-top-color: dodgerblue;
  }
  50% {
    border-top-color: orange;
  }
  100% {
    border-top-color: dodgerblue;
  }
}
.display-none {
  display: none;
}
