.body-main{
    width: 100%;
    height: 585px;
    padding: 80px 0 0 0;
    // margin-left: 500px;
    color: rgb(209, 128, 128);
    font-size: 30px;    
    display: flex;
    flex-direction: column;
    align-items: center;
    background: rgb(247, 218, 218);
}
.body-title{
    color: rgb(194, 98, 98);
    font-size: 60px;
}
.body-text{
    // padding: 10px 100px;
    margin-top:15px;
    animation-name : example;
    animation-duration: 1.2s;
    animation-iteration-count: infinite;
}
@keyframes example {
    0%{transform:scale(1,1)};
    50%{transform:scale(2,2)};
    100%{transform:scale(1,1)};
  }
.body-button{
    border: none;
    margin-top:200px;
    width: 100px;
    height: 100px;
    font-size: 60px;
    font-weight: 500;
    justify-content: center;
    color: white;
    background: rgb(194, 98, 98);
    transition:  0.5s;
    
    border-radius: 50%;
    border: 1px solid red;
    
}
.body-button:hover{
    // color: red;
    // background: white;
    
    transform: scale(2,2);
    // width: 140px;
    // height: 140px;
    // border: none;
    // border: 2px solid white;
}
