.wait-container{
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    opacity: 0.7;
    background: white;
}
.wait-connect{
    position: absolute;
    left : 45%;
    top: 45%;
}