.wait-container{
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    height: 100%;
    width: 100%;
    background: rgba($color: #ffffff, $alpha: 0.8);
    color: red;
    z-index: 2;
}
